## 数据运营不得不知的的数据处理经验

In [100]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
import statistics

from sklearn.tree import DecisionTreeClassifier
from sklearn.decomposition import PCA

## 缺失值的处理

In [6]:

# 生成缺失数据
df=pd.DataFrame(np.random.randn(100,4),columns=['col1','col2','col3','col4'])
df.iloc[1:2,1]=np.nan
df.iloc[4,3]=np.nan
print(df)

        col1      col2      col3      col4
0   1.346841 -0.324655 -0.083183  1.297727
1  -1.208784       NaN -0.903849  0.020395
2  -0.130370 -0.643851 -0.008774 -0.027778
3   1.521728 -0.120463  1.693411 -0.492085
4   0.405085  0.046416  1.120435       NaN
..       ...       ...       ...       ...
95 -0.739601  1.233303 -0.087582  0.870032
96 -0.346054 -2.396861  2.004420 -0.060156
97  0.198496 -0.011183  0.456664  1.177276
98  0.843574  0.204355 -2.752567  0.019658
99 -0.846891 -0.448674  0.068077 -1.110430

[100 rows x 4 columns]

In [8]:
# 查看那些只缺失
nan_all=df.isnull()
print(nan_all)

     col1   col2   col3   col4
0   False  False  False  False
1   False   True  False  False
2   False  False  False  False
3   False  False  False  False
4   False  False  False   True
..    ...    ...    ...    ...
95  False  False  False  False
96  False  False  False  False
97  False  False  False  False
98  False  False  False  False
99  False  False  False  False

[100 rows x 4 columns]

In [11]:
nan_col1=df.isnull().any()
nan_col2=df.isnull().all()

In [12]:
## 获得含有na的列
print(nan_col1)

col1    False
col2     True
col3    False
col4     True
dtype: bool

In [15]:
# 获得全部为na的列
print(nan_col2)

col1    False
col2    False
col3    False
col4    False
dtype: bool

In [16]:
df2=df.dropna()
print(df2)

        col1      col2      col3      col4
0   1.346841 -0.324655 -0.083183  1.297727
2  -0.130370 -0.643851 -0.008774 -0.027778
3   1.521728 -0.120463  1.693411 -0.492085
5  -0.873159  1.289662  1.349198  0.998534
6  -1.636502  1.018599 -0.108585 -0.553587
..       ...       ...       ...       ...
95 -0.739601  1.233303 -0.087582  0.870032
96 -0.346054 -2.396861  2.004420 -0.060156
97  0.198496 -0.011183  0.456664  1.177276
98  0.843574  0.204355 -2.752567  0.019658
99 -0.846891 -0.448674  0.068077 -1.110430

[98 rows x 4 columns]

In [17]:
df2.shape

(98, 4)

In [18]:
df.shape

(100, 4)

### sklearn.preprocessing.Imputer¶

https://scikit-learn.org/0.15/modules/generated/sklearn.preprocessing.Imputer.html
    
https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html

In [46]:
## 将缺失值替换为特定值 
## 将值为Nan的缺失值用均值做替换
nan_model=SimpleImputer(missing_values=np.nan,strategy='mean')
nan_result=nan_model.fit(df)
print(nan_result)

SimpleImputer()

In [47]:
print(df)

        col1      col2      col3      col4
0   1.346841 -0.324655 -0.083183  1.297727
1  -1.208784       NaN -0.903849  0.020395
2  -0.130370 -0.643851 -0.008774 -0.027778
3   1.521728 -0.120463  1.693411 -0.492085
4   0.405085  0.046416  1.120435       NaN
..       ...       ...       ...       ...
95 -0.739601  1.233303 -0.087582  0.870032
96 -0.346054 -2.396861  2.004420 -0.060156
97  0.198496 -0.011183  0.456664  1.177276
98  0.843574  0.204355 -2.752567  0.019658
99 -0.846891 -0.448674  0.068077 -1.110430

[100 rows x 4 columns]

In [36]:
statistics.mean([0.40508527, 0.04641579 , 1.12043472,0])

0.392983945

In [39]:
statistics.mean([-1.208784,0, -0.903849 , 0.020395])

-0.5230595

## 异常值的处理

In [50]:
df1= pd.DataFrame({'col1':[1,120,3,5,2,12,13], 'col2':[12,17,31,53,22,32,43]})
print(df1)

   col1  col2
0     1    12
1   120    17
2     3    31
3     5    53
4     2    22
5    12    32
6    13    43

In [56]:
## 通过z-score方法判断异常值
##获得数据框的列名
## 循环读取每一列
## 得到每列的值
# 计算每一列z-score的得分
## 判断z-score是否大于2.2


df1_zscore=df1.copy()
cols1=df1.columns
for col in cols1:
    df1_col=df1[col]
    z_score=(df1_col-df1_col.mean())/df1_col.std()
    df1_zscore[col]=z_score.abs()> 2.2
print(df1_zscore)

    col1   col2
0  False  False
1   True  False
2  False  False
3  False  False
4  False  False
5  False  False
6  False  False

本示例方法中，阀值的设定是确定异常与否的关键，通常当阀值大于2时，已经是相对异常的表现值。
上述过程中，主要需要考虑的关键点是的：如何判断异常值。对于有guiding业务规则的可直接套用业务规则，而对于没有固定业务规则的，可以采用常见
的数学模型进行判断，即基于概率分布的模型（例如正态分布的标准差范围），基于类聚的方法（例如kmeans),基于密度的方法（例如lof),机遇分类的方法
（例如knn),机遇统计的方法（例如分为数法）等。

## 重复性处理

In [57]:
data1=['a',3]
data2=['b',2]
data3=['a',3]
data4=['c',2]

df2=pd.DataFrame([data1,data2,data3,data4],columns=['col1','col2'])
print(df2)

  col1  col2
0    a     3
1    b     2
2    a     3
3    c     2

In [58]:
# 判断重复数据

isDuplicated= df2.duplicated()
print(isDuplicated)

0    False
1    False
2     True
3    False
dtype: bool

In [60]:
## 切除重复值

new_df1=df2.drop_duplicates()
new_df2=df2.drop_duplicates(['col1'])
new_df3=df2.drop_duplicates(['col2'])
new_df4=df2.drop_duplicates(['col1','col2'])

print (new_df1);
print (new_df2);
print (new_df3);
print (new_df4);

  col1  col2
0    a     3
1    b     2
3    c     2
  col1  col2
0    a     3
1    b     2
3    c     2
  col1  col2
0    a     3
1    b     2
  col1  col2
0    a     3
1    b     2
3    c     2

## 将分类数据和顺序数据转换为标志变量

In [61]:
df3=pd.DataFrame({'id':[3566841,6541227,3512441], 'sex':['Male','Female','Female'],'level':['high','low','middle']})
print(df3)

        id     sex   level
0  3566841    Male    high
1  6541227  Female     low
2  3512441  Female  middle

In [63]:
df_new=df3.copy()
for col_num, col_name in enumerate(df3):
    col_data=df3[col_name]
    col_dtype=col_data.dtype
    if col_dtype == 'object':
        df_new=df_new.drop(col_name,1)
        value_sets=col_data.unique()
        for value_unique in value_sets:
            col_name_new = col_name + '_'+value_unique
            col_tmp=df3.iloc[:, col_num]
            new_col=(col_tmp == value_unique)
            df_new[col_name_new]=new_col
print(df_new)

        id  sex_Male  sex_Female  level_high  level_low  level_middle
0  3566841      True       False        True      False         False
1  6541227     False        True       False       True         False
2  3512441     False        True       False      False          True

In [93]:
# 使用sklearn进行标志转换

from sklearn.preprocessing import OneHotEncoder

df10=pd.DataFrame({'id':[3566841,6541227,3512441], 'sex':[1,2,2],'level':[3,1,2]})

id_data=df10.values[:, :1]
transform_data=df10.values[:, 1:]
enc=OneHotEncoder(handle_unknown='ignore')
df10_new=enc.fit_transform(transform_data).toarray()
df10_all=pd.concat((pd.DataFrame(id_data),pd.DataFrame(df10_new)),axis=1)
print(df10_all)

         0    0    1    2    3    4
0  3566841  1.0  0.0  0.0  0.0  1.0
1  6541227  0.0  1.0  1.0  0.0  0.0
2  3512441  0.0  1.0  0.0  1.0  0.0

In [94]:
df10

        id  sex  level
0  3566841    1      3
1  6541227    2      1
2  3512441    2      2

In [95]:
transform_data

array([[1, 3],
       [2, 1],
       [2, 2]])

In [96]:
df10_new

array([[1., 0., 0., 0., 1.],
       [0., 1., 1., 0., 0.],
       [0., 1., 0., 1., 0.]])